<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
                   version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindPlaceServlet</servlet-name>
        <servlet-class>Servlet.FindPlaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindPlaceServlet</servlet-name>
        <url-pattern>/findPlace</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddPlaceServlet</servlet-name>
        <servlet-class>Servlet.AddPlaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPlaceServlet</servlet-name>
        <url-pattern>/add_place</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductHandlerServlet</servlet-name>
        <servlet-class>Servlet.ProductHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductHandlerServlet</servlet-name>
        <url-pattern>/product_handler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BuyProductServlet</servlet-name>
        <servlet-class>Servlet.BuyProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyProductServlet</servlet-name>
        <url-pattern>/buy_product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>Servlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/delete_product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowAllProductServlet</servlet-name>
        <servlet-class>Servlet.ShowAllProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllProductServlet</servlet-name>
        <url-pattern>/show_all_product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PriceSortServlet</servlet-name>
        <servlet-class>Servlet.PriceSortServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriceSortServlet</servlet-name>
        <url-pattern>/price_sort</url-pattern>
    </servlet-mapping>
</web-app>